.request__card_button {
    position: absolute;
    right: 24px;
    top: 12px;

    background: url(../../../../image/NotePencil.svg) no-repeat center;
    width: 32px;
    height: 32px;
    border: none;
}